.hero-content {
  padding-top: 198px;
  padding-bottom: 843px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .social-networks-links {
    // left: 0;
    // top: 0;

    margin-left: -396px;
    position: fixed;
    // margin-top: 0 auto;
    margin-top: 72px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 26px;

    // &__text-wrapper {
    //   padding-bottom: 26px;
    // }

    &__text {
      font-family: "Gilroy", sans-serif;
      font-weight: $bold;
      color: $primary-color;
      font-size: 18px;

      letter-spacing: 0;

      writing-mode: vertical-lr;
      text-orientation: mixed;
    }
  }
}
