@use "../base/colors";
@use "../base/variables";

.main-content {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  // gap: 114px;

  &__text-part {
    position: relative;

    width: 632px;
    height: auto;

    &::before {
      position: absolute;

      content: "XX";

      left: -150px;
      top: -103px;

      font-family: "Gilroy", sans-serif;
      font-weight: variables.$bold;
      font-size: 240px;
      color: colors.$primary-color;

      letter-spacing: 0;
      line-height: 240px;

      opacity: 10%;
      z-index: -1;
    }

    &--get-started {
      &::before {
        content: "01";
      }
    }

    &--hiking-essentials {
      &::before {
        content: "02";
      }
    }

    &--where-you-go-is-the-key {
      &::before {
        content: "03";
      }
    }
  }

  &__image-part {
    width: 566px;
    height: auto;

    transform-origin: center;

    will-change: transform;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__paragraph {
    margin-top: 27px;
    margin-bottom: 27px;

    font-family: "Gilroy", sans-serif;
    font-weight: variables.$bold;
    color: colors.$primary-color;
    font-size: 18px;

    line-height: 32px;
    letter-spacing: 0;

    text-align: left;
  }
}
