@use "variables";

//? --- OFFLINE FONTS
//? -----------------

//? Gilroy
@font-face {
    font-family: "Gilroy";
    src: url("../../assets/fonts/gilroy/Gilroy-Medium.woff2") format("woff2");
    font-weight: variables.$medium;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../../assets/fonts/gilroy/Gilroy-Bold.woff2") format("woff2");
    font-weight: variables.$bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../../assets/fonts/gilroy/Gilroy-ExtraBold.woff2") format("woff2");
    font-weight: variables.$extrabold;
    font-style: normal;
}

//? Chronicle Display
@font-face {
    font-family: "Chronicle Display";
    src: url("../../assets/fonts/chronicle_display/ChronicleDisplay-Semibold.woff2") format("woff2");
    font-weight: variables.$semibold;
    font-style: normal;
}

@font-face {
    font-family: "Chronicle Display";
    src: url("../../assets/fonts/chronicle_display/ChronicleDisplay-Bold.woff2") format("woff2");
    font-weight: variables.$bold;
    font-style: normal;
}
