@use "../base/colors";
@use "../base/variables";

.account-btn-link {
  display: flex;
  flex-direction: row;

  justify-content: end;
  align-items: center;

  gap: 8px;

  transform-origin: right;

  will-change: transform;
  transition: transform 0.15s ease-in-out;

  cursor: pointer;

  // Ховер-эффект только на устройствах с мышью
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.25);
    }

    &:active {
      transform: scale(1.15);
    }
  }

  // На мобилках / тачах — эффект только при нажатии
  @media (hover: none) and (pointer: coarse) {
    &:active {
      transform: scale(1.15);
    }
  }

  &__text {
    font-family: "Gilroy", sans-serif;
    font-weight: variables.$bold;
    color: colors.$primary-color;
    font-size: 17px;

    text-decoration: none;

    letter-spacing: 0;
  }
}
