.background-wrapper {
  //   width: 2000px;
  //   height: 1000px;

  background: url("/assets/images/bg.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
