@use "../base/colors";
@use "../base/variables";

.logo-btn-link {
  display: inline-block;

  font-family: "Chronicle Display", serif;
  font-weight: variables.$bold;
  color: colors.$primary-color;
  font-size: 32px;

  text-decoration: none;
  letter-spacing: 1%;

  text-align: left;
  transform-origin: left;

  will-change: transform;
  transition: transform 0.15s ease-in-out;

  cursor: pointer;

  // Ховер-эффект только на устройствах с мышью
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.25);
    }

    &:active {
      transform: scale(1.15);
    }
  }

  // На мобилках / тачах — эффект только при нажатии
  @media (hover: none) and (pointer: coarse) {
    &:active {
      transform: scale(1.15);
    }
  }
}
