@use "../base/colors";
@use "../base/variables";

.scroll-down-btn-link {
  display: flex;
  flex-direction: row;

  justify-content: start;
  align-items: center;

  gap: 16px;

  transform-origin: left;

  will-change: transform;
  transition: transform 0.15s ease-in-out;

  // scroll-behavior: smooth;

  // Ховер-эффект только на устройствах с мышью
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.25);
    }

    &:active {
      transform: scale(1.15);
    }
  }

  // На мобилках / тачах — эффект только при нажатии
  @media (hover: none) and (pointer: coarse) {
    &:active {
      transform: scale(1.15);
    }
  }

  &__text {
    font-family: "Gilroy", sans-serif;
    font-weight: variables.$bold;
    color: colors.$primary-color;
    font-size: 18px;

    text-transform: lowercase;
  }
}
