.social-networks-links {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 26px;

  &__text {
    font-family: "Gilroy", sans-serif;
    font-weight: $bold;
    color: $primary-color;
    font-size: 18px;

    letter-spacing: 0;

    writing-mode: vertical-lr;
  }
}
