@use "../base/colors";
@use "../base/variables";

.title {
  margin: 0;
  width: 950px;

  font-style: normal;

  &__text {
    font-family: "Chronicle Display", serif;
    font-weight: variables.$semibold;
    color: colors.$primary-color;
    font-size: 88px;

    line-height: 100px;
    letter-spacing: 0;
  }

  &__tagline {
    position: relative;
    padding-left: calc(72px + 32px);

    font-family: "Gilroy", sans-serif;
    font-weight: variables.$extrabold;
    color: colors.$accent-color;
    font-size: 18px;

    text-align: left;
    text-transform: uppercase;
    letter-spacing: 6px;

    margin-bottom: 32px;

    &::before {
      content: "";
      position: absolute;

      left: 0;
      top: 50%;

      transform: translateY(-50%);

      width: 72px;
      height: 2px;

      background-color: colors.$accent-color;
    }
  }

  &--small {
    position: relative;
    width: 555px;

    .title__text {
      font-size: 64px;
      line-height: 77px;
    }

    .title__tagline {
      padding-left: calc(72px + 24px);
      margin-bottom: 27px;
    }
  }
}
