.footer-content {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  &__logo-and-copyright-part {
    display: flex;
    flex-direction: column;

    // gap: 122px;
    justify-content: space-between;

    .footer-logo {
      display: flex;
      flex-direction: column;

      gap: 24px;

      &__slogan {
        width: 303px;

        font-family: "Gilroy", sans-serif;
        font-weight: $bold;
        font-size: 18px;
        color: $primary-color;

        line-height: 32px;
        letter-spacing: 0;

        text-align: left;
      }
    }
  }

  &__navigation-part {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 566px;
    // gap: 212px;
  }
}
