.wrapper {
    box-sizing: border-box;
    margin: 0 auto;

    padding: 0 229px;
    width: calc(1462px + 229px * 2);
    // max-width: calc(1760px + 80px * 2);

    &--large {
        padding: 0 80px;
        width: calc(1760px + 80px * 2);
        // max-width: calc(1760px + 80px * 2);
    }
}
